#main{
    background: #92D2D2;
    padding: 10px;
}
#title {
    background: #4C6F6F;
    color: black;
    text-align: center;
    padding: 20px;
    margin-bottom: 0.5em;
}
#img-div {
    margin: 2%;
    background: rgba(239, 252, 252, 0.7);

}
#image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0px auto;
}
#img-caption {
    text-align: center;
    margin: 2px; 
}
#content {
    margin-top: 0.5em;
    background: #072525;
    padding: 5%;
}
#tribute-info {
  color: #E4EBEB;
  font-style: helvetica;
}
#link {
    display: block;
    color: #E4EBEB;
    margin-top: 0.5em;
    text-align: center;
}